body {
	
				padding: 0;
				margin: 0;
				display: inline;
}



.top {

		background-color: #eee;
		margin-top: 0px;
		height: 50px;
		width: 70%;
		float: left;
}


.top2 {

		background-color: #e67e22;
		margin-top: 0px;
		height: 50px;
		width: 30%;
		float: right;
}


.top h4 {

			color: black;
			font-size: 14.5px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 210px;
			line-height: 0px;
			text-decoration: none;
			padding-top: 5px;
			margin-left: 100px;

}


.top a {

			color: black;
			font-size: 14.5px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 210px;
			line-height: 0px;
			text-decoration: none;
			padding-top: 20px;
			margin-left: 0.001%;

}



.tab {


		width: 20%;
		height: 90px;
		float: left;
		margin-top: 5px;
		background-color: #ffffff;
		border-bottom-right-radius: 15px;
		border-top-right-radius: 15px;
		

}




.tab img {

			height: 71px;
			width: 102px;
			margin-left: 120px;
			margin-top: 10px;

}


.tab img:hover {


							opacity: 0.5;
							transition: 0.2s; 
							position: contain;


		}



.containerHead {

					width:100%;
					height: 600px;
					float: right;
					background-image: url(intro.jpg);
					background-size: cover;
					margin-bottom: 120px;
					
				
}



header a {

						color: #fff;
						font-size: 14.5px;
						font-family: GraphikMedium;
						font-variant: normal;
						font-style: normal;
					 	text-decoration: none;
					 	margin-right: 5px;
					 	margin-left: 55px;
					 	margin-top: 50px;


}






header a:hover {


						transition: 0.2s;
						color: #eb984e;

		}




@font-face {
    font-family: GraphikBold;
    src: url(Graphik-Bold.otf);
}


@font-face {
    font-family: GraphikMedium;
    src: url(Graphik-Medium.otf);
}




header h2 {

			color: #fff;
			font-size: 50px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	margin-right: 45px;
		 	margin-left: 50px;
		 	margin-top: 190px;
		 	margin-bottom: 55px;

}	



header p1 {

			color: #fff;
			font-size: 25px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	margin-right: 45px;
		 	margin-left: 50px;
		 	margin-top: 20px;

}	



header p {

			color: #fff;
			font-size: 20px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 200;
		 	text-decoration: none;
		 	margin-right: 45px;
		 	margin-left: 50px;
		 	margin-top: 1px;

}	




.mid {

		width:100%;
		height: 650px;
		float: right;
		background-image: url(mid1.jpg);
		background-size: cover;
		margin-bottom: 120px;
	
}



.mid h1 {

			color: #ffffff;
			font-size: 32px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	margin-left: 7%;
		 	margin-top: 100px;
		 
}



.midcon {


		width: 55%;
		height: 300px;
		background-color: #ebf5fb; 
		margin-left: 40px;
		border-radius: 25px;
		margin-top: 170px;


}


.midcon p {


			color: #000000;
			font-size: 23px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 200;
			text-decoration: none;
		 	margin-left: 15px;
		 	margin-top: 10px;
		 	float: left;
		 	margin-left: 2.5%;
		 	margin-right: 2%;
		 	
		 	
}	

.midcon b {

			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;

}


.midcon p1 {

			color: #e67e22;

}


.midcon a {

			font-family: GraphikMedium;
			color: #000000;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;

}




.work {

		width:100%;
		height: 600px;
		float: right;
		background-image: url(work.jpg);
		background-size: cover;
		margin-bottom: 0px;
	
}





.work h1 {

			color: #ffffff;
			font-size: 32px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	margin-left: 57%;
		 	margin-top: 100px;
		 	margin-bottom: 0px;
		 
}



.workcon {


		width: 40%;
		height: 210px;
		background-color: #633974; 
		margin-left: 40px;
		border-radius: 25px;
		margin-top: 170px;


}



.workcon p {


			color: #ffffff;
			font-size: 23px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 200;
			text-decoration: none;
		 	margin-left: 15px;
		 	margin-top: 10px;
		 	float: left;
		 	margin-left: 2.5%;
		 	margin-right: 2%;
		 	
}	






.workcon a {

			font-family: GraphikMedium;
			color: #ffffff;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;

}




.clients {

			width: 97.5%;
			height: 500px;
			float: right;
			background-color: #ebf5fb;
			margin-top: 30px; 
			margin-bottom: 0px;
			margin-right: 1.25%;
			border-radius: 20px;

}


.clients img {

					height: 100px;
					width: 261px;
					margin-right: 1%;
					margin-left: 5%;
					margin-top: 50px;
					margin-bottom: 0px;

}




.promise {

			width: 30%;
			height: 600px;
			background-image: url(promise.jpg);			
			float: left;
			margin-left: 10%;
			margin-top: 130px;
			border-radius: 30px;


}



.promise h1 {


			color: #ffffff;
			font-size: 30px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;	
		 	margin-left: 40px;
		 	margin-top: 500px;	 

}



.promise b {

			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
			color: #ffffff;
		 	text-decoration: none;

}


.promise p1 {

			color: #e67e22;

}


.procontent {

			width: 50%;
			height: 180px;
			background-color:  #f2f3f4;		
			float: right;
			margin-right: 6%;
			border-radius: 30px;
			margin-top: 240px;
			margin-bottom: 450px;

}


.procontent p {


			color: #000000;
			font-size: 23px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 200;
			text-decoration: none;
		 	margin-left: 5%;
		 	margin-top: 55px;
		 	margin-right: 5%;


}


.last {

			margin-top: 100px;
			width: 600px; 
			height: 65px;
			overflow: hidden;
			margin-left: 412px;
			background-color:  #2c3e50;
			border-radius: 15px;



}



.last h1 {

			font-family: GraphikBold;
			font-size: 28px;
			letter-spacing: 0.5px;
			font-variant: normal;
			font-style: normal;
			color: #ffffff;
		 	text-decoration: none;
		 	margin-left: 155px;


}