body {
	
				padding: 0;
				margin: 0;
				display: inline;
}



.top {

		background-color: #eee;
		margin-top: 0px;
		height: 50px;
		width: 70%;
		float: left;
}


.top2 {

		background-color: #e67e22;
		margin-top: 0px;
		height: 50px;
		width: 30%;
		float: right;
}


.top h4 {

			color: black;
			font-size: 14.5px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 210px;
			line-height: 0px;
			text-decoration: none;
			padding-top: 5px;
			margin-left: 100px;

}


.top a {

			color: black;
			font-size: 14.5px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 210px;
			line-height: 0px;
			text-decoration: none;
			padding-top: 20px;
			margin-left: 0.001%;

}



.tab {


		width: 20%;
		height: 90px;
		float: left;
		margin-top: 0px;
		background-color: #ffffff;
		

}



.strip {

		width: 3%;
		height: 90px;
		float: right;
		margin-top: 0px;
		background-color: #e67e22; 


}



.tab img {

			height: 71px;
			width: 102px;
			margin-left: 130px;
			margin-top: 10px;

}


.tab img:hover {


							opacity: 0.5;
							transition: 0.2s; 
							position: contain;


		}



.containerHead {

					width:100%;
					height: 600px;
					float: right;
					background-image: url(intro.jpg);
					background-size: cover;
					margin-bottom: 120px;
					
				
}



header a {

						color: #fff;
						font-size: 14.5px;
						font-family: GraphikMedium;
						font-variant: normal;
						font-style: normal;
					 	text-decoration: none;
					 	margin-right: 5px;
					 	margin-left: 55px;
					 	margin-top: 50px;


}






header a:hover {


						transition: 0.2s;
						color: #eb984e;

		}




@font-face {
    font-family: GraphikBold;
    src: url(Graphik-Bold.otf);
}


@font-face {
    font-family: GraphikMedium;
    src: url(Graphik-Medium.otf);
}




header h2 {

			color: #fff;
			font-size: 50px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	margin-right: 45px;
		 	margin-left: 50px;
		 	margin-top: 190px;
		 	margin-bottom: 55px;

}	



header p1 {

			color: #fff;
			font-size: 25px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	margin-right: 45px;
		 	margin-left: 50px;
		 	margin-top: 20px;

}	



header p {

			color: #fff;
			font-size: 20px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 200;
		 	text-decoration: none;
		 	margin-right: 45px;
		 	margin-left: 50px;
		 	margin-top: 1px;

}	




.mid {

		width:100%;
		height: 650px;
		float: right;
		background-image: url(mid1.jpg);
		background-size: cover;
		margin-bottom: 120px;
	
}



.mid h1 {

			color: #ffffff;
			font-size: 32px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	margin-left: 7%;
		 	margin-top: 100px;
		 
}



.mid p {


			color: #000000;
			font-size: 23px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 200;
			text-decoration: none;
		 	margin-left: 5%;
		 	margin-top: 160px;
		 	margin-right: 42%;
		 	
}	

.mid b {

			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;

}


.mid p1 {

			color: #e67e22;

}


.mid a {

			font-family: GraphikMedium;
			color: #000000;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;

}




.work {

		width:100%;
		height: 600px;
		float: right;
		background-image: url(work.jpg);
		background-size: cover;
		margin-bottom: 0px;
	
}





.work h1 {

			color: #ffffff;
			font-size: 32px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	margin-left: 57%;
		 	margin-top: 100px;
		 	margin-bottom: 0px;
		 
}




.work p {


			color: #ffffff;
			font-size: 23px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 200;
			text-decoration: none;
		 	margin-left: 5%;
		 	margin-top: 100px;
		 	margin-right: 55%;
		 	
}	






.work a {

			font-family: GraphikMedium;
			color: #ffffff;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;

}



.strip1 {

			width: 50%;
			height: 10px;
			background-color: #e1e5e8;
			float: left;

}


.strip2 {

			width: 50%;
			height: 10px;
			background-color: #e67e22;
		
			float: right;

}


.clients {

			width:100%;
			height: 465px;
			float: right;
			margin-bottom: 0px;

}


.clients img {

					height: 100px;
					width: 260px;
					margin-right: 1%;
					margin-left: 5%;
					margin-top: 50px;
					margin-bottom: 0px;

}



.strip3 {

			width: 50%;
			height: 10px;
			background-color: #e67e22;
			float: left;
			margin-top: 50px;

}


.strip4 {

			width: 50%;
			height: 10px;
			background-color: #e1e5e8;			
			float: right;
			margin-top: 50px;

}


.promise {

			width: 30%;
			height: 600px;
			background-image: url(promise.jpg);			
			float: left;
			margin-top: 150px;


}