body {
	
				padding: 0;
				margin: 0;
				display: inline;
}



.top {

		background-color: #eee;
		margin-top: 0px;
		height: 50px;
		width: 70%;
		float: left;
}


.top2 {

		background-color: #e67e22;
		margin-top: 0px;
		height: 50px;
		width: 30%;
		float: right;
}


.top h4 {

			color: black;
			font-size: 14.5px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
			line-height: 0px;
			text-decoration: none;
			padding-top: 5px;
			margin-left: 100px;

}


.top a {

			color: black;
			font-size: 14.5px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
			line-height: 0px;
			text-decoration: none;
			padding-top: 20px;
			margin-left: 0.001%;

}



.tab {


		width: 20%;
		height: 90px;
		float: left;
		margin-top: 5px;
		background-color: #ffffff;
		border-bottom-right-radius: 15px;
		border-top-right-radius: 15px;
		

}




.tab img {

			height: 71px;
			width: 102px;
			margin-left: 120px;
			margin-top: 10px;

}


.tab img:hover {


							opacity: 0.5;
							transition: 0.2s; 
							position: contain;


		}



.containerHead {


					width:100%;
					height: 600px;
					float: right;
					background-image: url(intro.jpg);
					background-size: cover;
					margin-bottom: 120px;
					
				
}



.card1 {


		width: 44.5%;
		height: 150px;
		background-color: black;
		margin-left: 40px;
		border-radius: 25px;
		margin-top: 150px;
		margin-bottom: 0px;
		
}


.card2 {


			width: 34.2%;
			height: 170px;
			background-color: black;
			border-top-left-radius: 25px;
			border-bottom-left-radius: 25px;
			float: right;
			overflow: hidden;
			margin-top: -20px;
			margin-right: 0px;
			margin-bottom: 0px;
}




header a {

						color: #fff;
						font-size: 14.5px;
						font-family: GraphikMedium;
						font-variant: normal;
						font-style: normal;
					 	text-decoration: none;
					 	margin-right: 5px;
					 	margin-left: 55px;
					 	margin-top: 50px;


}





header a:hover {


						transition: 0.2s;
						color: #2E86C1;

		}




@font-face {
    font-family: GraphikBold;
    src: url(Graphik-Bold.otf);
}


@font-face {
    font-family: GraphikMedium;
    src: url(Graphik-Medium.otf);
}




header .card1 h2 {

			color: #fff;
			font-size: 50px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	float: left;
		 	margin-left: 35px;
		 	margin-right: 50px;
		 	margin-top: 19.5px;

}	



header .card2 p1 {

			color: #fff;
			font-size: 25px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	margin-left: 25px;
		 	float: left;
		 	margin-top: 20px;

}	



header .card2 p {

			color: #fff;
			font-size: 20px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 200;
		 	text-decoration: none;
		 	margin-right: 10px;
		 	margin-left: 40px;
		 	margin-top: 63px;

}	


header .card2 b {

			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;

}


header .card2 p2 {

			color: #e67e22;

}



.wrap {


			width: 27%;
			height: 60px;
			background-color:  #1e1e1e;
			border-radius: 15px;
			float: right;
			overflow: hidden;
			margin-right: -445px;
			margin-top: 170px;


}


.see {

			height: 40px;
			width: 170px;
			background-color: #e67e22;
			margin-top: 10px;
			float: left;
			margin-left: 15px;
			border-radius: 25px;

}




.see:hover {

				
				background-color: #ffffff;
				transition: 0.5s;
}



.see p:hover {

			color: #e67e22;
			transition: 0.5s;
}




.see p {

			font-family: GraphikBold;
			font-size: 20px;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	color: #ffffff;
		 	margin-top: 9px;
		 	margin-left: 10px;



}



.about {

			height: 40px;
			width: 170px;
			background-color: #e67e22;
			margin-top: 10px;
			float: right;
			margin-right: 15px;
			border-radius: 25px;



}



.about:hover {

				
				background-color: #ffffff;
				transition: 0.5s;

}

.about p:hover {

			color: #e67e22;
			transition: 0.5s;


}


.about p {

			font-family: GraphikBold;
			font-size: 20px;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	color: #ffffff;
		 	margin-left: 40px;
		 	margin-top: 9px;


}









.mid {

		width:100%;
		height: 650px;
		float: right;
		background-image: url(mid1.jpg);
		background-size: cover;
		margin-bottom: 120px;
	
}



.mid h1 {

			color: #ffffff;
			font-size: 32px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	margin-left: 7%;
		 	margin-top: 100px;
		 
}



.midcon {


		width: 55%;
		height: 300px;
		background-color: #ebf5fb; 
		margin-left: 40px;
		border-radius: 25px;
		margin-top: 170px;


}


.midcon p {


			color: #000000;
			font-size: 23px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 200;
			text-decoration: none;
		 	margin-left: 15px;
		 	margin-top: 10px;
		 	float: left;
		 	margin-left: 2.5%;
		 	margin-right: 2%;
		 	
		 	
}	

.midcon b {

			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;

}


.midcon p1 {

			color: #e67e22;

}


.midcon a {

			font-family: GraphikMedium;
			color: #000000;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;

}




.work {

		width:100%;
		height: 600px;
		float: right;
		background-image: url(work.jpg);
		background-size: cover;
		margin-bottom: 0px;
		overflow: hidden;
	
}





.work h1 {

			color: #ffffff;
			font-size: 32px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;
		 	margin-left: 57%;
		 	margin-top: 100px;
		 	margin-bottom: 0px;
		 
}



.workcon {


		width: 40%;
		height: 210px;
		background-color: #633974; 
		margin-left: 40px;
		border-radius: 25px;
		margin-top: 170px;


}



.workcon p {


			color: #ffffff;
			font-size: 23px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 200;
			text-decoration: none;
		 	margin-left: 15px;
		 	margin-top: 10px;
		 	float: left;
		 	margin-left: 2.5%;
		 	margin-right: 2%;
		 	
}	






.workcon a {

			font-family: GraphikMedium;
			color: #ffffff;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;

}




.clients {

			width: 97.5%;
			height: 500px;
			float: right;
			background-color: #ebf5fb;
			margin-top: 30px; 
			margin-bottom: 100px;
			margin-right: 1.25%;
			border-radius: 20px;

}


.clients img {

					height: 100px;
					width: 260px;
					margin-right: 1%;
					margin-left: 5%;
					margin-top: 50px;
					margin-bottom: 0px;

}



.promisewrap {

				width:100%;
				height: 700px;
				background-image: url(prowrap.jpg);
				background-size: cover;
				margin-top: 0px;
				overflow: hidden;
				margin-bottom: 140px;


}


.promise {

			width: 30%;
			height: 600px;
			background-image: url(promise.jpg);			
			float: left;
			margin-left: 10%;
			margin-top: 50px;
			border-radius: 30px;


}



.promise:hover {

					background-image: url(promise1.jpg);
					transition: 0.5s;

}



.promise h1 {


			color: #ffffff;
			font-size: 30px;
			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
		 	text-decoration: none;	
		 	margin-left: 40px;
		 	margin-top: 500px;	 

}



.promise b {

			font-family: GraphikBold;
			font-variant: normal;
			font-style: normal;
			color: #ffffff;
		 	text-decoration: none;

}


.promise p1 {

			color: #e67e22;

}


.procontent {

			width: 50%;
			height: 180px;
			background-color:  #f2f3f4;		
			float: right;
			margin-right: 6%;
			border-radius: 30px;
			margin-top: 150px;
			margin-bottom: 450px;

}


.procontent p {


			color: #000000;
			font-size: 23px;
			font-family: Segoe UI;
			font-variant: normal;
			font-style: normal;
			font-weight: 200;
			text-decoration: none;
		 	margin-left: 5%;
		 	margin-top: 55px;
		 	margin-right: 5%;


}


.last {

			margin-top: -30px;
			width: 85%; 
			height: 65px;
			overflow: hidden;
			margin-left: 107px;
			background-color:  #2c3e50;
			border-radius: 15px;


}



.last h1 {

			font-family: GraphikBold;
			font-size: 28px;
			letter-spacing: 0.5px;
			font-variant: normal;
			font-style: normal;
			color: #ffffff;
		 	text-decoration: none;
		 	margin-left: 37.8%;


}


.lastcon {

			width: 97.5%;
			height: 600px;
			float: right;
			background-color: #AEB6BF;
			margin-top: -10px; 
			margin-bottom: 100px;
			margin-right: 1.25%;
			border-radius: 20px;
}


.content1 {

			width: 300;
			height: 490px;
			background-image: url(content.jpg);			
			float: left;
			margin-left: 15%;
			margin-top: 37.5px;
			border-radius: 30px;

}


.cardcon {

			width:250px;
			height: 36px;
			background-color: #EBF5FB;
			margin-left: 25px;
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;
			filter: opacity(0.6);
			margin-bottom: 0px;
			margin-top: 30px;

}



.cardcon1 {

			width:250px;
			height: 100px;
			background-color: #EBF5FB;
			margin-left: 25px;
			border-bottom-right-radius: 20px;
			border-bottom-left-radius: 20px;
			filter: opacity(0.2);
			margin-top: -22px;

}



.date {

			width:125px;
			height: 36px;
			background-color: #EBF5FB;
			margin-left: 25px;
			border-radius: 20px;
			margin-bottom: 0px;
			margin-top: 90px;

}



.blogcon {

			width:250px;
			height: 200px;
			background-color: #EBF5FB;
			margin-left: 25px;
			border-radius: 20px;
			filter: opacity(0.2);
			margin-top: -25px;
			overflow: hidden;

}


.content1 h2 {

			font-family: GraphikBold;
			font-size: 28px;
			font-variant: normal;
			font-style: normal;
			color: #ffffff;
		 	text-decoration: none;
		 	margin-top: -32px;
		 	margin-left: 115px;

		 	
}



.content1 h3 {

			font-family: GraphikBold;
			font-size: 20px;
			font-variant: normal;
			font-style: normal;
			color: #ffffff;
		 	text-decoration: none;
		 	margin-top: -80px;
		 	margin-left: 70px;

		 	
}



.content1 h1 {

			font-family: GraphikBold;
			font-size: 20px;
			font-variant: normal;
			font-style: normal;
			color: #ffffff;
		 	text-decoration: none;
		 	margin-top: -20px;
		 	margin-left: 105px;
}



.content1 p {

			font-family: GraphikBold;
			font-size: 15px;
			font-variant: normal;
			font-style: normal;
			color: black;
		 	text-decoration: none;
		 	margin-top: -25px;
		 	margin-left: 30px;

}



.content1 h4 {

			font-family: GraphikMedium;
			font-size: 17px;
			font-variant: normal;
			font-style: normal;
			color: #ffffff;
		 	text-decoration: none;
		 	margin-top: -125px;
		 	margin-left: 45px;
		 	margin-right: 40px;
}



.content1 img {

					height: 25px;
					width: 30px;
					margin-top: -162.5px;
					margin-left: 35px;

}


.cardcon1:hover {

					filter: opacity(0.4);
					transition: 0.5s;

}




.content1 h3:hover {

			color: #000000;
			transition: 0.5s;
}




.content1 h4:hover {

				color: #000000;
}



.blogcon:hover {

					filter: opacity(0.3);
					transition: 0.5s;
}



.content1:hover {

					background-image: url(content1.jpg);
					transition: 0.5s;

}


.foot {

			height: 45px;
			width: 100%;
			background-color: #e67e22;
			margin-bottom: 0px;
			margin-top: -35px;

}



.footcon {

			height: 25px;
			width: 21.5%;
			background-color: #000000;
			margin-bottom: 0px;
			margin-top: -35px; 
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
}




 p {

			font-family: GraphikMedium;
			font-size: 16px;
			font-variant: normal;
			font-style: normal;
			color: #FFFFFF;
		 	text-decoration: none;
		 	margin-left: 10px;
		 	margin-top: 25px;
		 	margin-bottom: 2.5px;
		 	
}

